.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}

@media screen and (min-width: 48em) {
  .header {
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }
}

.header__heading {
  color: var(--slate-900);
}

.header__btn {
  color: var(--slate-700);
  border: none;
  background-color: transparent;
  text-decoration: underline;
  transition: all 0.2s;
}

.header__btn:hover {
  cursor: pointer;
  color: var(--slate-900);
}
