.calculator {
  background-color: var(--white);
}

@media screen and (min-width: 48em) {
  .calculator {
    margin: 4rem auto;
    width: min(94.79166667%, 100.8rem);
    border-radius: 2.4rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 64em) {
  .calculator {
    margin-top: 20.9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
