.error-msg {
  color: var(--primary-red);
  display: none;
}

.formInput__container:has(.formInput__container--input[focused="true"]) {
  border: 1px solid var(--primary-red);
}

.formInput__container:has(.formInput__container--input[focused="true"])
  > .formInput__container--fix {
  background-color: var(--primary-red);
  color: var(--white);
}

.formInput__container:has(.formInput__container--input[focused="true"])
  ~ .error-msg {
  display: block;
}
