/* VARIABLES */
:root {
  --primary-lime: rgb(215, 218, 47);
  --primary-red: rgb(215, 51, 40);
  --white: rgb(255, 255, 255);
  --slate-100: rgb(227, 243, 253);
  --slate-300: rgb(154, 190, 213);
  --slate-500: rgb(107, 148, 168);
  --slate-700: rgb(78, 110, 126);
  --slate-900: rgb(18, 47, 63);

  --gap-8: 0.8rem;
  --gap-12: 1.2rem;
  --gap-16: 1.6rem;
  --gap-24: 2.4rem;
  --gap-32: 3.2rem;
  --gap-40: 4rem;

  --bp-phone: 23.4375em;
  --bp-tablet: 48em;
  --bp-laptop: 64em;
  --bp-desktop: 90em;
}

/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media screen and (max-width: 23.4em) {
  html {
    font-size: 50%;
  }
}

.fs-56 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.25;
}

.fs-24 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
}

.fs-18 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
}

.fs-16 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.fs-14 {
  font-size: 1.4rem;
  line-height: 1.5;
}

/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--slate-100);
}
