.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}

@media screen and (min-width: 48em) {
  .header {
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }
}

.header__heading {
  color: var(--slate-900);
}

.header__btn {
  color: var(--slate-700);
  border: none;
  background-color: transparent;
  text-decoration: underline;
  transition: all 0.2s;
}

.header__btn:hover {
  cursor: pointer;
  color: var(--slate-900);
}

.fields {
  display: grid;
  gap: var(--gap-24);
  margin-top: var(--gap-24);
}

.fields__TermRate {
  display: grid;
  gap: var(--gap-24);
}

@media screen and (min-width: 48em) {
  .fields__TermRate {
    grid-template-columns: repeat(2, 1fr);
  }
}

.fields__radio {
  display: grid;
  gap: 1.2rem;
}

.fields__radio--legend {
  color: var(--slate-700);
}

.fields__radio--container {
  border: 1px solid var(--slate-500);
  border-radius: 0.4rem;
  padding: var(--gap-12) var(--gap-16);
  display: flex;
  align-items: center;
  gap: var(--gap-16);
  transition: all 0.2s;
}

.fields__radio--container:hover {
  cursor: pointer;
  border: 1px solid var(--primary-lime);
}

.fields__radio--container:has(.fields__radio--container-input:checked) {
  background-color: rgba(215, 218, 47, 0.15);
  border: 1px solid var(--primary-lime);
}

.fields__radio--container-label {
  color: var(--slate-900);
  width: 100%;
}

.fields__radio--container-label:hover {
  cursor: pointer;
}

.fields__radio--container-input {
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: currentColor;
  min-width: 1.95rem;
  min-height: 1.95rem;
  border: 2px solid var(--slate-700);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.fields__radio--container-input:hover {
  cursor: pointer;
}

.fields__radio--container-input:checked {
  border: 2px solid var(--primary-lime);
}

.fields__radio--container-input::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--primary-lime);
  opacity: 0;
  transition: all 0.2s;
}

.fields__radio--container-input:checked::before {
  opacity: 1;
}
